---
import Layout from "../../layouts/Layout.astro";
import CardPic1 from "../../img/cardPictures/cardBodyPic2.jpeg";
---
<Layout title="Cost Insight">
<div class="flex flex-col sm:flex-row justify-center w-full h-full gap-10">
    <img src={CardPic1.src} alt="Card Picture" transition:name="cImg2" class="w-60 h-60 shadow-xl rounded-lg sm:sticky top-16 left-2 mx-auto" />
    <div>
        <h1 class="text-2xl font-bold text-left pl-5 pt-4">Understanding the Costs of Green Energy Solutions</h1>
        <p class="text-left whitespace-pre-line pb-16 pl-5">
            Welcome to GreenBeen's informative page on understanding the costs of green energy solutions. Transitioning to environmentally friendly energy sources is a commendable goal, and knowing the financial aspects is crucial to making informed decisions. <br> <br>

            <b class="text-xl">The Cost of Going Green</b>

            Green energy solutions can vary in cost, depending on the type of technology, size of your home, and location. Our cost analysis tools and resources provide you with the information needed to budget effectively and plan your green energy project. <br> <br>

            <b class="text-xl">Key Cost Considerations:</b>

            ◈ Solar Panel Costs: Discover the upfront costs of installing solar panels, including equipment and installation fees.
            ◈ Energy-Efficient Appliances: Understand the initial investment and long-term savings associated with energy-efficient appliances. 
            ◈ Home Insulation: Learn about the cost of upgrading your home's insulation for improved energy efficiency.
            ◈ Smart Home Systems: Explore the expenses involved in implementing smart home systems that optimize energy usage. <br><br>

            <b class="text-xl">Budgeting and Financing</b>

            We provide tips on budgeting for your green energy project and offer guidance on financing options, such as loans and incentives, to help make your sustainable goals more affordable.
        </p>
        <!-- a floating go back button -->
        <a href="/goGreen" class="fixed left-1/2 bottom-4 z-50 flex items-center justify-center w-auto h-10 text-lg p-2 font-bold text-white bg-green-500 rounded-full shadow-lg cursor-pointer hover:bg-green-700 hover:text-white">
            Go back
        </a>
    </div>
</div>
</Layout>