---
import Layout from "../../layouts/Layout.astro";
import CardPic1 from "../../img/cardPictures/cardBodyPic3.jpeg";
---
<Layout title="Green and Clean Practices">
<div class="flex flex-col sm:flex-row justify-center w-full h-full gap-10">
    <img src={CardPic1.src} alt="Card Picture" transition:name="cImg3" class="w-60 h-60 shadow-xl rounded-lg sm:sticky top-16 left-2 mx-auto" />
    <div>
        <h1 class="text-2xl font-bold text-left pl-5 pt-4">Embrace Green and Clean Energy Practices</h1>
        <p class="text-left whitespace-pre-line pb-16 pl-5">
            Here, we explore a wide range of eco-conscious technologies and sustainable practices that can transform your living space into an energy-efficient and environmentally friendly haven. <br><br>

            <b class="text-xl">Exploring Sustainable Technologies</b>

            Discover cutting-edge technologies that can make your home more energy-efficient:

            ◈ Solar Power: Learn how solar panels harness the sun's energy to power your home sustainably.
            ◈ Energy-Efficient Appliances: Find out about the latest appliances that save energy and reduce your utility bills.
            ◈ Smart Home Systems: Explore how intelligent home systems can automate energy management and enhance efficiency.
            ◈ Green Insulation: Understand the benefits of eco-friendly insulation materials for improved temperature control. <br> <br>

            <b class="text-xl">Sustainable Practices</b>

            In addition to technology, we provide tips on adopting eco-conscious practices in your daily life, such as:

            ◈ Reducing Energy Waste: Simple habits like turning off lights and unplugging devices can contribute to energy savings.
            ◈ Water Conservation: Learn how to minimize water waste through efficient fixtures and practices.
            ◈ Waste Reduction: Discover ways to reduce, reuse, and recycle to minimize your environmental impact. <br><br>
            
            <b class="text-xl">Start Your Green Journey</b>

            Ready to embrace green and clean energy practices? Explore our comprehensive guides, resources, and expert advice to start your journey towards a more sustainable and eco-friendly home.
                        

        </p>
        <!-- a floating go back button -->
        <a href="/goGreen" class="fixed left-1/2 bottom-4 z-50 flex items-center justify-center w-auto h-10 text-lg p-2 font-bold text-white bg-green-500 rounded-full shadow-lg cursor-pointer hover:bg-green-700 hover:text-white">
            Go back
        </a>
    </div>
</div>
</Layout>