---
import Layout from "../../layouts/Layout.astro";
import CardPic1 from "../../img/cardPictures/cardBodyPic4.jpeg";
---
<Layout title="Sustainability">
<div class="flex flex-col sm:flex-row justify-center w-full h-full gap-10">
    <img src={CardPic1.src} alt="Card Picture" transition:name="cImg4" class="w-60 h-60 shadow-xl rounded-lg sm:sticky top-16 left-2 mx-auto" />
    <div>
        <h1 class="text-2xl font-bold text-left pl-5">Practical Sustainability Tips for Your Home</h1>
        <p class="text-left whitespace-pre-line pb-16 pl-5">
            Welcome to GreenBeen's page on practical sustainability tips for your home. Sustainable living is not just about technology—it's about making mindful choices that reduce your environmental footprint. Here, we provide you with actionable tips and advice to lead a more eco-friendly lifestyle. <br> <br>

            <b class="text-xl">Small Changes, Big Impact</b>

            Making sustainable choices doesn't have to be overwhelming. Small changes in your daily routine can collectively have a significant positive impact on the environment. Here are some practical tips:

            ◈ Reduce, Reuse, Recycle: Implement recycling practices and reduce waste by reusing items whenever possible.
            ◈ Energy Conservation: Turn off lights, unplug devices, and set thermostats efficiently to conserve energy.
            ◈ Water Efficiency: Install low-flow fixtures and fix leaks to reduce water consumption.
            ◈ Eco-Friendly Transportation: Consider carpooling, biking, or using public transportation to reduce emissions.
            ◈ Support Sustainable Products: Choose eco-friendly products and support companies committed to sustainability. <br> <br>

            <b class="text-xl">Educate and Engage</b>

            Teach your family and friends about the importance of sustainability and get them involved in eco-friendly practices. By working together, we can create a more sustainable future for everyone. <br><br>

            <b class="text-xl">Stay Informed</b>

            Stay connected with GreenBeen for the latest sustainability tips, news, and updates. Sign up for our newsletter and join our community of environmentally conscious individuals committed to making a positive impact on the planet.
        </p>
        <!-- a floating go back button -->
        <a href="/#WWO" class="fixed left-1/2 bottom-4 z-50 flex items-center justify-center w-auto h-10 text-lg p-2 font-bold text-white bg-green-500 rounded-full shadow-lg cursor-pointer hover:bg-green-700 hover:text-white">
            Go back
        </a>
    </div>
</div>
</Layout>