---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Documentation Portfolio">
  <h1 class="text-4xl font-bold text-center">Documentation Portfolio</h1>
  <div class=" flex flex-col gap-7 text-center mt-10">
    <p class="text-xl underline">Libraries</p>
    <a href="https://astro.build/" target="_blank" class="text-base font-bold">Astro →</a>
    <!-- astro svelte -->
    <a href="https://svelte.dev/" target="_blank" class="text-base font-bold">Svelte →</a>
    <!-- tailwindcss -->
    <a href="https://tailwindcss.com/" target="_blank" class="text-base font-bold">TailwindCSS →</a>
    <!-- postcss -->
    <a href="https://postcss.org/" target="_blank" class="text-base font-bold">PostCSS →</a>
    <!--  vercel -->
    <a href="https://vercel.com/" target="_blank" class="text-base font-bold">Vercel →</a>
    <!--  lenis -->
    <a href="https://lenis.dev/" target="_blank" class="text-base font-bold">Lenis →</a>
    <!--  gsap -->
    <a href="https://greensock.com/gsap/" target="_blank" class="text-base font-bold">GSAP →</a>

  </div>
</Layout>