---
import Layout from "../layouts/Layout.astro";
import pdf1 from "../components/pdf/plan-of-work-log (1).pdf";
import pdf2 from "../components/pdf/student-copyright-checklist (1).pdf";
---
<Layout title="Documentation Portfolio">
  <h1 class="text-4xl font-bold text-center pt-10">Documentation Portfolio</h1>
  <div class=" flex flex-col gap-7 text-center mt-10">
    <p class="text-xl underline">Libraries</p>
    <a href="https://astro.build/" target="_blank" class="text-base font-bold">Astro →</a>
    <!-- astro svelte -->
    <a href="https://svelte.dev/" target="_blank" class="text-base font-bold">Svelte →</a>
    <!-- tailwindcss -->
    <a href="https://tailwindcss.com/" target="_blank" class="text-base font-bold">TailwindCSS →</a>
    <!-- postcss -->
    <a href="https://postcss.org/" target="_blank" class="text-base font-bold">PostCSS →</a>
    <!--  vercel -->
    <a href="https://vercel.com/" target="_blank" class="text-base font-bold">Vercel →</a>
    <!--  lenis -->
    <a href="https://lenis.dev/" target="_blank" class="text-base font-bold">Lenis →</a>
    <!--  gsap -->
    <a href="https://greensock.com/gsap/" target="_blank" class="text-base font-bold">GSAP →</a>

    <p class="text-xl underline">Tools</p>
    <!--  figma -->
    <a href="https://www.figma.com/" target="_blank" class="text-base font-bold">Figma →</a>
    <!--  unsplash -->
    <a href="https://unsplash.com/" target="_blank" class="text-base font-bold">Unsplash →</a>
    <!--  google fonts -->
    <a href="https://fonts.google.com/" target="_blank" class="text-base font-bold">Google Fonts →</a>
    <!--  font awesome -->
    <a href="https://fontawesome.com/" target="_blank" class="text-base font-bold">Font Awesome →</a>

    <p class="text-xl underline">Resources</p>
    <a href="https://environment.umn.edu/education/susteducation/pathways-to-renewable-energy/why-arentsolar-panels-everywhere/" target="_blank" class="text-base font-bold">Why Aren’t Solar Panels Everywhere? →</a>
    <a href="https://www.nrel.gov/" target="_blank" class="text-base font-bold">National Renewable Energy Laboratory →</a>
    <a href="https://www.seia.org/" target="_blank" class="text-base font-bold">Solar Energy Industries Association →</a>
    <a href="https://www.seia.org/initiatives/solar-investment-tax-credit-itc" target="_blank" class="text-base font-bold">Solar Investment Tax Credit (ITC) →</a>
    <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiM4e39k8yEAxWxYEcBHQiIARsYABABGgJxdQ&ase=2&gclid=CjwKCAiArfauBhApEiwAeoB7qEVWU4DemMrzp8PEev6mqX8lWUsaZ8XUsFbcFqVfCgVP02qERunDKRoC_zIQAvD_BwE&ohost=www.google.com&cid=CAESVuD2eP4eUYo5INR7Sp1MWc-9sGftYewP5RCy7UrI86sDGjxi-XEeuhTIMPsXqDY1l4XSngmrnQJcXashlNSF39L4oqQWeian_rlJPMXch7T3PEhCIAUc&sig=AOD64_01Q5yb8fW_8aDappQ8_g1gPXvSOg&q&nis=4&adurl&ved=2ahUKEwi80-T9k8yEAxX9FVkFHQyqBo0Q0Qx6BAgLEAM" target="_blank" class="text-base font-bold">5 Reasons for Electric Cars →</a>
    <!-- links for tesla model S, rivian r1T and Hyundai IONIQ5 -->
    <a href="https://www.tesla.com/models" target="_blank" class="text-base font-bold">Tesla Model S →</a>
    <a href="https://rivian.com/r1t" target="_blank" class="text-base font-bold">Rivian R1T →</a>
    <a href="https://www.hyundaiusa.com/us/en/vehicles/ioniq-5" target="_blank" class="text-base font-bold">Hyundai IONIQ5 →</a>
  </div>
  <div class="flex flex-row gap-5 justify-center items-center pt-10 mb-10">
    <!-- link to pdf -->
    <a href={pdf1} target="_blank" class="bg-green-950 text-white p-3 rounded-full text-base font-bold">Plan of Work Log →</a>
    <a href={pdf2} target="_blank" class="bg-green-950 text-white p-3 rounded-full text-base font-bold">Student Copyright
      Checklist →</a>
  </div>
</Layout>