---
import Layout from "../layouts/Layout.astro";
import CardPic1 from "../img/cardPictures/cardBodyPic1.jpeg";
import CardPic2 from "../img/cardPictures/cardBodyPic2.jpeg";
import CardPic3 from "../img/cardPictures/cardBodyPic3.jpeg";
import CardPic4 from "../img/cardPictures/cardBodyPic4.jpeg";
---

<script>
</script>

<Layout title="Go Green">
        <p class="text-center pb-10 pt-10  text-4xl font-medium text-[#1e3e2c] z-50" id="WWO">Learn More About How You Can Make a Change</p>
        <p class=" text-center text-lg text-[#1e3e2c] z-50 pb-10 pl-16 pr-16" id="WWO">Welcome to GreenBeen's Ways to Save page, where you can explore a variety of resources and tools to help you make informed decisions about energy-efficient upgrades, sustainable practices, and eco-friendly lifestyle choices. </p>
        <div class="flex flex-col justify-center w-[100vw] h-auto gap-5 z-10 items-center pb-16">
            <div class="flex flex-col items-center sm:flex-row gap-10">
            <a href="/waysToSave/RenuableEnergyProgram"><div class="w-56 h-64 rounded-lg shadow-xl text-[#1e3e2c] hover:drop-shadow-lg outline outline-slate-950 outline-1 text-center justify-evenly space-y-5 p-2" id="">
                <img src={CardPic1.src} transition:name="cImg1" alt="hero" class="w-40 h-auto rounded-md mx-auto"/>
                <p>Renewable Energy Programs</p> 
            </div></a>
            <p class="text-left text-base text-[#1e3e2c] z-50 pb-10 w-full p-3 sm:w-[50vw]">Explore government-backed initiatives on solar incentives, wind power, geothermal options, and energy-efficient upgrades with GreenBeen's detailed guides, empowering homeowners to make eco-friendly choices.
                <br>
                <br>
                <a href="/waysToSave/RenuableEnergyProgram">Learn More &rightarrow;</a>
            </p>
            </div>

            <div class="flex flex-col items-center sm:flex-row gap-10">
            <a href="/waysToSave/costInsight"><div class="w-56 h-64 rounded-lg shadow-xl text-[#1e3e2c] hover:drop-shadow-lg outline outline-slate-950 outline-1 text-center justify-evenly space-y-5 p-2" id="">
                <img src={CardPic2.src} transition:name="cImg2" alt="hero" class="w-40 h-auto rounded-md mx-auto"/>
                <p>Cost Insights</p>
            </div></a>
            <p class="text-left text-base text-[#1e3e2c] z-50 pb-10 w-full p-3 sm:w-[50vw]">Navigate the financial landscape of green energy solutions with GreenBeen's cost analysis tools, offering key considerations for solar panels, energy-efficient appliances, home insulation, and smart home systems, along with budgeting tips and financing guidance.
                <br>
                <br>
                <a href="/waysToSave/costInsight">Learn More &rightarrow;</a>
            </p>
            </div>

            <div class="flex flex-col items-center sm:flex-row gap-10">
            <a href="/waysToSave/greenAndClean"><div class="w-56 h-64 rounded-lg shadow-xl text-[#1e3e2c] hover:drop-shadow-lg outline outline-slate-950 outline-1 text-center justify-evenly space-y-5 p-2" id="">
                <img src={CardPic3.src} transition:name="cImg3" alt="hero" class="w-40 h-auto rounded-md mx-auto"/>
                <p>Green and Clean Energy Practices</p>
            </div></a>
            <p class="text-left text-base text-[#1e3e2c] z-50 pb-10 w-full p-3 sm:w-[50vw]">Transform your home into an eco-friendly haven with GreenBeen's guide, covering solar power, energy-efficient appliances, smart home systems, and sustainable practices, providing a comprehensive roadmap for an energy-efficient and environmentally conscious lifestyle.
                <br>
                <br>
                <a href="/waysToSave/greenAndClean">Learn More &rightarrow;</a>
            </p>
            </div>

            <div class="flex flex-col items-center sm:flex-row gap-10">
            <a href="/waysToSave/sustainibility"><div class="w-56 h-64 rounded-lg shadow-xl text-[#1e3e2c] hover:drop-shadow-lg outline outline-slate-950 outline-1 text-center justify-evenly space-y-5 p-2" id="">
                <img src={CardPic4.src} transition:name="cImg4" alt="hero" class="w-40 h-auto rounded-md mx-auto"/>
                <p>Sustainability Tips</p>
            </div></a>
            <p class="text-left text-base text-[#1e3e2c] z-50 pb-10 w-full p-3 sm:w-[50vw]">Discover practical sustainability tips at GreenBeen, from the classic reduce, reuse, recycle mantra to energy conservation, water efficiency, and support for sustainable products, fostering a community dedicated to creating a greener, more sustainable future.
                <br>
                <br>
                <a href="/waysToSave/sustainibility">Learn More &rightarrow;</a>
            </p>
            </div>

        </div>
</Layout>
<style>
</style>