---
import Layout from "../layouts/Layout.astro";

// import WateredPlant from "../img/WateredPlant.png";
import BodyPic from "../img/1BodyPic.png";
import BodyPic2 from "../img/2BodyPic.png";

// popup button
import PopUpButton from "../components/svelte/popUpButton.svelte"
import PopUpButton1 from "../components/svelte/popUpButton1.svelte"
---

<script>
    import { gsap } from "gsap";
    import { Flip } from "gsap/Flip";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { Observer } from "gsap/Observer";
    import { ScrollToPlugin } from "gsap/ScrollToPlugin";
    import { Draggable } from "gsap/Draggable";
    import { MotionPathPlugin } from "gsap/MotionPathPlugin";
    import { EaselPlugin } from "gsap/EaselPlugin";
    import { PixiPlugin } from "gsap/PixiPlugin";
    import { TextPlugin } from "gsap/TextPlugin";
    document.addEventListener('astro:page-load', () => {
        // This only runs once.
        let listOfEcoWrods=[
            'roof',
            'lightbulb',
            'car',
            'house',
            'garden',
            'dishwasher',
            'washing machine',
            'fridge',
            'oven',
            'shower',
            'air conditioner'
        ] 

        // change the word with a slight transition
        function changeWord(){
            let bodWord = document.getElementById('changedWord') as HTMLSpanElement;
            let randomWord = listOfEcoWrods[Math.floor(Math.random() * listOfEcoWrods.length)];
            let typingSpeed = 150; // Adjust the typing speed (in milliseconds) as desired
            let backspaceSpeed = 50; // Adjust the backspace speed (in milliseconds) as desired

            function typeAndBackspace(word: string) {
                let currentIndex = 0;
                let intervalId = setInterval(() => {
                    if (currentIndex < word.length) {
                        bodWord.textContent = word.substring(0, currentIndex + 1);
                        currentIndex++;
                    } else {
                        clearInterval(intervalId);
                        setTimeout(() => {
                            let backspaceIntervalId = setInterval(() => {
                                if (currentIndex >= 0) {
                                    bodWord.textContent = word.substring(0, currentIndex);
                                    currentIndex--;
                                } else {
                                    clearInterval(backspaceIntervalId);
                                    setTimeout(() => {
                                        let newRandomWord = listOfEcoWrods[Math.floor(Math.random() * listOfEcoWrods.length)];
                                        typeAndBackspace(newRandomWord);
                                    }, typingSpeed);
                                }
                            }, backspaceSpeed);
                        }, typingSpeed);
                    }
                }, typingSpeed);
            }

            typeAndBackspace(randomWord);
        }

        // change the word every 5 seconds
        // setInterval(() => {
            changeWord()


        // skew the image so taht it seems like it is rotating according to the mouse position
        // let AGIMG = document.getElementById('AGIMG') as HTMLImageElement
        // let AG = document.getElementById('AG') as HTMLDivElement
        // AG.addEventListener('mousemove', (e) => {
        //     let x = e.clientX
        //     let y = e.clientY
        //     let width = AG.clientWidth
        //     let height = AG.clientHeight
        //     let xPercent = x / width
        //     let yPercent = y / height
        //     let xSkew = xPercent * 10 - 10
        //     let ySkew = yPercent * 10 - 5
        //     AGIMG.style.transform = `skew(${ySkew}deg, ${xSkew}deg)`
        // })

        
        
        gsap.registerPlugin(Flip,ScrollTrigger,Observer,ScrollToPlugin,Draggable,MotionPathPlugin,EaselPlugin,PixiPlugin,TextPlugin);

        gsap.from('.body1', {
            x: 100,
            duration: 0.5,
            opacity: 0,
            scrollTrigger: {
                trigger: '.body1',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });
        gsap.fromTo('.body2', {
            x: -100,
            duration: 0.5,
            opacity: 0.5,
        }, {
            x: 0,
            duration: 0.5,
            opacity: 1,
            scrollTrigger: {
                trigger: '.body2',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        gsap.fromTo('#body3', {
            x: 100,
            duration: 0.5,
            opacity: 0,
        }, {
            x: 0,
            duration: 0.5,
            opacity: 1,
            scrollTrigger: {
                trigger: '#AG',
                start: 'top', // Trigger point
                end: 'bottom', // End point
            },
        });

        gsap.fromTo('#body4', {
            x: -100,
            duration: 0.5,
            opacity: 0,
        }, {
            x: 0,
            duration: 0.5,
            opacity: 1,
            scrollTrigger: {
                trigger: '#body4',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        // create a timeline for the green rectangle so that it scales up and down
        let greenRect = gsap.timeline({
            scrollTrigger: {
                trigger: '#body2',
                start: 'top center', // Trigger point
                end: '+=1200', // End point
                scrub: true,
            },
            // if it reaches the end of body 1 it will reverse the animation
            onEnter: () => {
                greenRect.play()
            },
            onLeave: () => {
                greenRect.reverse()
            },
        } as any)
        greenRect.to('#smallGreenRect',{
            scale: 400,
            duration: 2,
            ease: 'power2.inOut',
        })


        // make each box appear one after the other from the top fading in
        gsap.from('#rbox1', {
            y: -100,
            opacity: 0,
            duration: 0.3,
            delay: 0,
            scrollTrigger: {
                trigger: '#rbox1',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });
        gsap.from('#rbox2', {
            y: -100,
            opacity: 0,
            duration: 0.3,
            delay: 0.3,
            scrollTrigger: {
                trigger: '#rbox2',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });
        gsap.from('#rbox3', {
            y: -100,
            opacity: 0,
            duration: 0.3,
            delay: 0.6,
            scrollTrigger: {
                trigger: '#rbox3',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });
        gsap.from('#rbox4', {
            y: -100,
            opacity: 0,
            duration: 0.3,
            delay: 0.9,
            scrollTrigger: {
                trigger: '#rbox4',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        // animate the WWO text
        gsap.fromTo('#WhatWeOffer', {
            opacity: 0,
            y: -100,
        }, {
            opacity: 1,
            y: 0,
            duration: 0.5,
            scrollTrigger: {
                trigger: '#WhatWeOffer',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
                scrub: true,
            },
        });

        // animate the quote
        gsap.fromTo('#quote1', {
            opacity: 0,
            y: -100,
        }, {
            opacity: 1,
            y: 0,
            duration: 0.5,
            scrollTrigger: {
                trigger: '#quote1Trigger',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        // animate the CTA button
        gsap.to('#CTABtn',{
            opacity: 1,
            scale:1,
            scrollTrigger: {
                trigger: '#WWO',
                start: 'left', // Trigger point
                end: 'bottom center', // End point
            },
        })

        setInterval(() => {
            let scroll = window.scrollY
            if(scroll >= 350){
                gsap.to('#AG', {
                    opacity: 0,
                    duration: 1,
                    // scrollTrigger: {
                    //     trigger: '#AG',
                    //     start: 'top center', // Trigger point
                    //     end: 'bottom center', // End point
                    //     // scrub: true,
                    // },
                });
            } else {
                gsap.to('#AG', {
                    opacity: 1,
                    duration: 1,
                    // scrollTrigger: {
                    //     trigger: '#AG',
                    //     start: 'top center', // Trigger point
                    //     end: 'bottom center', // End point
                    //     // scrub: true,
                    // },
                });
            }
        }, 1000);

    // This is the hover for the buttons
    let hovBtn1 = document.getElementById('hovBtn1') as HTMLButtonElement
    let hovBtn2 = document.getElementById('hovBtn2') as HTMLButtonElement
    let hovBtn3 = document.getElementById('hovBtn3') as HTMLButtonElement
    let hovBtn4 = document.getElementById('hovBtn4') as HTMLButtonElement

    let hovTextOutput = document.getElementById('hovTextOutput') as HTMLDivElement

    let infoForBtn = ['','','','']

    hovBtn1.addEventListener('mouseover', () => {
        infoForBtn[0] = 'Renewable energy programs are a great way to reduce your carbon footprint and save money on your energy bills. Some of the most popular renewable energy programs include solar, wind, and geothermal energy. Learn more about the benefits of renewable energy and how you can make a positive impact on the environment.'
        gsap.fromTo('#hovTextOutput', {
            // slide the text from the left
            x: -100,
        }, {
            x: 0,
            duration: 0.5,
            ease: 'power2.inOut',
        });
        hovTextOutput.innerText = infoForBtn[0]
    })

    hovBtn2.addEventListener('mouseover', () => {
        infoForBtn[1] = 'The cost of energy is a major concern for many homeowners. \n Cost-effective solutions are essential for reducing your energy bills and saving money. Learn more about the benefits of cost-effective solutions and how you can make a positive impact on the environment.'
        gsap.fromTo('#hovTextOutput', {
            // slide the text from the left
            x: -100,
        }, {
            x: 0,
            duration: 0.5,
            ease: 'power2.inOut',
        });
        hovTextOutput.innerText = infoForBtn[1]
    })

    hovBtn3.addEventListener('mouseover', () => {
        infoForBtn[2] = 'Green and clean energy practices are essential for protecting the environment and reducing your carbon footprint. Some of the most popular green and clean energy practices include energy efficiency, recycling, and waste reduction. Learn more about the benefits of green and clean energy practices and how you can make a positive impact on the environment.'
        gsap.fromTo('#hovTextOutput', {
            // slide the text from the left
            x: -100,
        }, {
            x: 0,
            duration: 0.5,
            ease: 'power2.inOut',
        });
        hovTextOutput.innerText = infoForBtn[2]
    })

    hovBtn4.addEventListener('mouseover', () => {
        infoForBtn[3] = 'Sustainability tips are a great way to reduce your carbon footprint and live a more eco-friendly lifestyle. A few tips to help you get started include reducing your energy consumption, recycling, and using eco-friendly products, and writching to electric vehicles. Learn more about the benefits of sustainability tips and how you can make a positive impact on the environment.'
        gsap.fromTo('#hovTextOutput', {
            // slide the text from the left
            x: -100,
        }, {
            x: 0,
            duration: 0.5,
            ease: 'power2.inOut',
        });
        hovTextOutput.innerText = infoForBtn[3]
    })


    // change the graph when the user clicks on the button
    let Co2Value1 = document.getElementById('CO2value1') as HTMLSpanElement
    let Co2Value2 = document.getElementById('CO2value2') as HTMLSpanElement
    let Co2Value3 = document.getElementById('CO2value3') as HTMLSpanElement

    let lineGraph1Width = 100
    let lineGraph2Width = 85
    let lineGraph3Width = 95

    let lineGraph1WidthPrev = 300
    let lineGraph2WidthPrev = 200
    let lineGraph3WidthPrev = 150

    let changeGraphButton = document.getElementById('switch') as HTMLLabelElement

    let clicked = false

    gsap.to('#lineGraph1',{
        width: lineGraph1WidthPrev,
        duration: 1,
        ease: 'power2.inOut',
    })
    gsap.to('#lineGraph2',{
        width: lineGraph2WidthPrev,
        duration: 1,
        ease: 'power2.inOut',
    })
    gsap.to('#lineGraph3',{
        width: lineGraph3WidthPrev,
        duration: 1,
        ease: 'power2.inOut',
    })

    function changeGraph(){
        // change the values of the graph
        Co2Value1.innerText = '2 metric tons'
        Co2Value2.innerText = '$400'
        Co2Value3.innerText = '20,000 animals'
        // animate the graph when the user clicks on the button
    gsap.to('#lineGraph1',{
        width: lineGraph1Width,
        duration: 1,
        ease: 'power2.inOut',
    })
    gsap.to('#lineGraph2',{
        width: lineGraph2Width,
        duration: 1,
        ease: 'power2.inOut',
    })
    gsap.to('#lineGraph3',{
        width: lineGraph3Width,
        duration: 1,
        ease: 'power2.inOut',
    })
    }

    function changeGraphPrev(){
        // change the values of the graph
        Co2Value1.innerText = '48 metric tons'
        Co2Value2.innerText = '$1,480'
        Co2Value3.innerText = '1 million animals'
        // animate the graph when the user clicks on the button
    gsap.to('#lineGraph1',{
        width: lineGraph1WidthPrev,
        duration: 1,
        ease: 'power2.inOut',
    })
    gsap.to('#lineGraph2',{
        width: lineGraph2WidthPrev,
        duration: 1,
        ease: 'power2.inOut',
    })
    gsap.to('#lineGraph3',{
        width: lineGraph3WidthPrev,
        duration: 1,
        ease: 'power2.inOut',
    })
    }

    changeGraphButton.children[0].addEventListener('click', () => {
        if(clicked){
            changeGraphPrev()
            clicked = false
        } else {
            changeGraph()
            clicked = true
        }
    })
    }, { once: false})


</script>

<Layout title="GreenBeen">
    <div class="w-full h-[100vh] flex flex-col items-center sticky top-0 justify-center -z-20" id="AG">
        <div class="w-full p-2 sm:p-0 sm:w-[50vw]">
            <h1 class='text-6xl font-extrabold text-center'><span class="text-green-700">Green</span><span class="text-amber-600">Been</span></h1>
            <p class="text-xl pt-5 h-20">Saving the environment one <span id="changedWord" class="text-green-700 transition-all ease-in-out transform scale-0 w-80 sm:w-96">roof</span> at a time 🌿</p>

            <p class="text-xl pt-5 pb-10">GreenBeen is a website that compiles information on the best ways to switch to a greener and a healthier lifestyle. We provide you with cost insights, tax rebates, tips, and much more that will make switching to greener solutions a breeze 🍃</p>

            <p>Scroll down to learn more ↓</p>
        </div>
    </div>
    <div class="bg-[#f0eab5] w-[100vw] h-auto z-50">
    <div id="body1" class="flex flex-col-reverse sm:flex-row justify-evenly h-auto -z-50">
        <div class='flex flex-wrap justify-evenly w-auto h-[80vh]'>
            <div class="w-screen sm:w-[50vw] flex-col mt-9 p-4">
                <p class="text-3xl font-semibold">Considering a Switch? Explore GreenBeen</p>
                <p class="text-xl">Contemplating the switch to greener living? GreenBeen is your guide to navigating the world of sustainable energy. Delve into our comprehensive website, offering the latest updates, trends, and practical advice on eco-conscious living.</p>
            </div>
        </div>
        <div class="w-screen h-auto sm:h-[40vh] sm:w-[40vw]">
            <img src={BodyPic2.src} alt="hero" class="sm:w-[40vw] transition-all ease-out" id="AGIMG"/>
        </div>
    </div>
    <div id="body2" class="body1 flex flex-col sm:flex-row justify-evenly h-auto">
        <div id="" class="w-screen h-auto sm:h-[40vh] sm:w-[40vw]">
            <img src={BodyPic.src} alt="hero" class="sm:w-[40vw] transition-all ease-out" id="AGIMG"/>
        </div>
        <div class='flex flex-wrap justify-evenly w-auto h-[80vh]'>
            <div class="p-4 w-full sm:w-[50vw] flex-col mt-9">
                <p class="text-3xl font-semibold">Green Energy: The Vital Key to Securing Our Future</p>
                <p class="text-xl">The world is at a critical juncture when it comes to environmental sustainability. Green energy initiatives are vital to mitigating the harmful effects of fossil fuels and combating climate change. By adopting renewable energy sources, we can make a significant positive impact on the environment.</p>
            </div>
        </div>
    </div>

    </div>
    <div class="w-10 h-10 bg-[#1e3e2c] rounded-full fixed z-0" id="smallGreenRect"></div>
    <div id="WhatWeOffer">
        <p class="text-center pb-10 text-4xl font-medium text-[#f0eab5] z-50" id="WWO">How Can <span class='underline'>You</span> Start Making a Change?</p>
        <p class=" text-center text-lg text-[#f0eab5] z-50 pb-10" id="WWO">Hover on each to learn more ↓</p>
        <div class="flex flex-col sm:flex-row justify-center">
            <div class="flex flex-col gap-1 w-[50vw] p-1 sm:p-6 sm:pl-10">
                <button id="hovBtn1" class="p-2 rounded-md hover:bg-[#f0eab5] bg-[#1e3e2c] text-[#f0eab5] hover:text-[#1e3e2c] transition-all outline mt-5 w-80 z-50" id="changeGraphButtonPrev">
                    Renuable Energy Programs
                </button>
                <button id="hovBtn2" class="p-2 rounded-md hover:bg-[#f0eab5] bg-[#1e3e2c] text-[#f0eab5] hover:text-[#1e3e2c] transition-all outline mt-5 w-80 z-50" id="changeGraphButtonPrev">
                    Cost Effective solutions
                </button>
                <button id="hovBtn3" class="p-2 rounded-md hover:bg-[#f0eab5] bg-[#1e3e2c] text-[#f0eab5] hover:text-[#1e3e2c] transition-all outline mt-5 w-80 z-50" id="changeGraphButtonPrev">
                    Green and Clean Energy Practices
                </button>
                <button id="hovBtn4" class="p-2 rounded-md hover:bg-[#f0eab5] bg-[#1e3e2c] text-[#f0eab5] hover:text-[#1e3e2c] transition-all outline mt-5 w-80 z-50" id="changeGraphButtonPrev">
                    Sustainability Tips
                </button>
            </div>
            <div class="text-[#f0eab5] sm:w-[50vw] text-xl p-6 sm:pr-10 transition-all" id="hovTextOutput">
                Hover over the buttons to learn more
            </div>
        </div>
    </div>
    <div id="body3" class="flex flex-col justify-evenly h-auto z-10 mt-24 text-[#f0eab5]">
        <p class="text-3xl font-semibold text-center pb-10">Explore Incentives</p>
        <div class="w-[100vw] flex flex-wrap">
            <div class="sm:w-[40vw] rounded-xl bg-transparent outline outline-[#f0eab5] p-3 flex flex-col sm:flex-row mx-auto justify-between h-60">
                <div class="w-full rounded-2xl p-3 text-white">
                  <h2 class="text-2xl font-bold leading-tight">Electric Vehicles</h2>
                  <p class="text-md"> Electric vehicles are a great way to reduce your carbon footprint and save money on fuel. There are many incentives available to help you make the switch to an electric vehicle. </p>
                  <a href="/EV" class=" sm:hidden block text-white bg-green-600 p-2 rounded-md mt-3">Explore EV Incentives</a>
                    <div class="sm:block hidden z-50">
                        <PopUpButton client:only="Svelte" link="https://green-been.vercel.app/hidden/EV" buttonText="Explore EV Incentives" />
                    </div>
                </div>
              </div>
              
              <!-- taxRebate -->
              <div class="sm:w-[40vw] rounded-xl bg-transparent outline outline-[#f0eab5] p-3 flex flex-col sm:flex-row mx-auto justify-between h-60">
                <div class="w-full rounded-2xl p-3 text-white">
                  <h2 class="text-2xl font-bold leading-tight">Tax Rebates</h2>
                  <p class="text-md">Tax rebates are a great way to save money on your taxes. There are many tax rebates available for a variety of different things, including energy efficiency, electric vehicles, and more. </p>
                  <a href="/taxRebate" class="text-white bg-green-600 p-2 rounded-md mt-3 inline-block sm:hidden">Explore Tax Rebates</a>
                    <div class="sm:block hidden z-50">
                        <PopUpButton1 client:only="Svelte" link="https://green-been.vercel.app/hidden/taxRebate" buttonText="Explore Tax Rebates" />
                    </div>
                </div>
              </div>
        </div>
    </div>
    <!-- A section called whats the difference that has a bar graph and a button click me to find out that calls a function to change the graph -->
    <div id="body4" class="flex flex-col sm:flex-row justify-evenly w-auto h-auto mt-28 pt-16 text-[#f0eab5]">
        <div class="w-full p-5 sm:p-4 sm:w-[50vw]">
        <p class="text-3xl font-semibold text-left pb-4">What's the Difference?</p>
        <p class="text-xl">Embarking on the journey of transitioning to green energy is more than just a decision; it's a transformative leap towards a sustainable and eco-conscious lifestyle. Beyond the bold claims lies a tangible impact that reverberates across the environment, your community, and, most importantly, your own well-being.
        By making the switch to green energy, you are investing in a cleaner, healthier future.</p>
        </div>
        <div class='flex flex-col justify-center w-full sm:w-[45vw]'>
            <div class=" flex p-4 flex-col justify-center items-center w-full">
                <p class="text-3xl font-semibold text-center pb-5">See for yourself...</p>
                <div class="flex flex-row gap-3">
                <!-- add labels on both sides like before you switch and after you switch -->
                <p class="text-[#f0eab5] text-base">Before you switch</p>
                <label class="switch" id="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                <p class="text-[#f0eab5] text-base">After you switch</p>
                </div>
                <div class="flex flex-col gap-4 pt-10 w-full">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#f0eab5] text-lg">Emissions</p>
                        <div id="lineGraph1" class="h-2 sm:w-96 bg-gradient-to-l rounded-full from-green-500 to-green-800"></div>
                        <p class="text-[#f0eab5] text-xs"><span id="CO2value1">48 metric tons</span> of carbon dioxide equivalents/per year</p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <p class="text-[#f0eab5] text-lg">Electricity Bill</p>
                        <div id="lineGraph2" class="h-2 sm:w-96 bg-gradient-to-l rounded-full from-orange-500 to-orange-800"></div>
                        <p class="text-[#f0eab5] text-xs"><span id="CO2value2">$1,480</span>/year</p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <p class="text-[#f0eab5] text-lg">Animal Death Due to Pollution</p>
                        <div id="lineGraph3" class="h-2 w-1 bg-gradient-to-l rounded-full from-blue-500 to-blue-800"></div>
                        <p class="text-[#f0eab5] text-xs"><span id='CO2value3'>1 million animals</span>/year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="CTO" class="flex flex-col justify-center h-screen z-50">
        <p class="text-center pb-1 text-5xl font-medium text-[#f0eab5]" id="WhatWeOffer">What Are You Waiting For?</p>
        <p class="text-center pb-5 text-xl font-medium text-[#f0eab5]" id="WhatWeOffer">Make a positive change one baby step at a time</p>
        <a id="CTABtn" href="/goGreen" class="mx-auto opacity-0"><button class="bg-[#9498FF] hover:bg-green-400 transition-colors ease-in-out outline p-2 w-40 h-14 rounded-full">
            Go green today!
        </button></a>
    </div>
</Layout>

<style>
    /* make the sharow for all the rbox more darker and go all the way around */
    #rbox1{
        box-shadow: 0px 0px 30px 0px rgba(0, 29, 7, 0.632);
    }
    #rbox2{
        box-shadow: 0px 0px 30px 0px rgba(0, 29, 7,0.632);
    }
    #rbox3{
        box-shadow: 0px 0px 30px 0px rgba(0, 29, 7,0.632);
    }
    #rbox4{
        box-shadow: 0px 0px 30px 0px rgba(0, 29, 7,0.632);
    }

    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #348406;
}

input:focus + .slider {
  box-shadow: 0 0 1px #348406;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>