---
import Layout from "../layouts/Layout.astro";

import WateredPlant from "../img/WateredPlant.png";
---

<script>
    let listOfEcoWrods=[
        'roof',
        'lightbulb',
        'car',
        'house',
        'garden',
        'dishwasher',
        'washing machine',
        'fridge',
        'freezer',
        'oven',
        'microwave',
        'shower',
        'toilet',
        'air conditioner',
        'heater',
        'fan',
    ]

    // change the word with a slight transition
    function changeWord(){
        let word = document.getElementById('changedWord') as HTMLSpanElement
        let randomWord = listOfEcoWrods[Math.floor(Math.random() * listOfEcoWrods.length)]
        word.classList.add('transition-all', 'duration-500', 'ease-in-out', 'transform', 'scale-0')
        setTimeout(() => {
            word.innerText = randomWord
            word.classList.remove('scale-0')
        }, 500);
    }

    // change the word every 5 seconds
    setInterval(() => {
        changeWord()
    }, 5000);
</script>

<Layout title="GreenBeen">
    <div class="w-[100vw] h-[80vw] p-10 flex">
        <div class="w-[50vw]">
            <h1 class='text-4xl font-medium'><span class="text-green-700">Green</span><span class="text-amber-600">Been</span></h1>
            <p class="text-xl pt-5">Saving the environment one <span id="changedWord" class="text-green-700 transition-all ease-in-out transform scale-0 w-96">roof</span> at a time 🌿</p>

            <p class="text-xl pt-5">GreenBeen is a website that helps you find the best eco-friendly products for your home. We have a wide range of products that are eco-friendly and sustainable.</p>
            <a>
            <div class="flex mt-8"> 
            <button class=" align-middle pr-2 underline underline-offset-4">
                Learn More
            </button>
            <svg width="50" height="50" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="57" cy="57" r="57" fill="#9498FF"/>
                <path d="M60.1901 66.7656L59.05 68.4088L60.0977 69.1358L61.1988 68.4926L60.1901 66.7656ZM81.1903 54.5001L80.1908 52.7677L80.1816 52.7731L81.1903 54.5001ZM96.122 47.5182C96.4082 46.4514 95.7754 45.3545 94.7086 45.0683L77.3234 40.4041C76.2565 40.1179 75.1597 40.7507 74.8734 41.8175C74.5872 42.8844 75.22 43.9813 76.2869 44.2675L91.7404 48.4134L87.5945 63.8669C87.3083 64.9338 87.9411 66.0306 89.0079 66.3169C90.0748 66.6031 91.1716 65.9703 91.4579 64.9034L96.122 47.5182ZM38.1902 51.5004L39.3303 49.8573L38.1025 49.0053L36.9375 49.9413L38.1902 51.5004ZM61.1988 68.4926L82.199 56.2271L80.1816 52.7731L59.1815 65.0386L61.1988 68.4926ZM82.1898 56.2325L95.1898 48.7323L93.1909 45.2676L80.1908 52.7678L82.1898 56.2325ZM20.4428 68.3247L39.4428 53.0596L36.9375 49.9413L17.9375 65.2065L20.4428 68.3247ZM37.05 53.1436L59.05 68.4088L61.3303 65.1224L39.3303 49.8573L37.05 53.1436Z" fill="black"/>
                </svg>   
            </div>
            </a>
        </div>
        <div class="w-[35vw] hidden sm:block">
            <img src={WateredPlant.src} alt="hero" class="w-[35vw]"/>
        </div>
    </div>
</Layout>