---
import Layout from "../layouts/Layout.astro";

import infographic from "../img/tax/info.svg";
---

<script>
    import { gsap } from "gsap";
    import { Flip } from "gsap/Flip";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { Observer } from "gsap/Observer";
    import { ScrollToPlugin } from "gsap/ScrollToPlugin";
    import { Draggable } from "gsap/Draggable";
    import { MotionPathPlugin } from "gsap/MotionPathPlugin";
    import { EaselPlugin } from "gsap/EaselPlugin";
    import { PixiPlugin } from "gsap/PixiPlugin";
    import { TextPlugin } from "gsap/TextPlugin";

    gsap.registerPlugin(Flip,ScrollTrigger,Observer,ScrollToPlugin,Draggable,MotionPathPlugin,EaselPlugin,PixiPlugin,TextPlugin);

    document.addEventListener('astro:page-load', () => {
        // use fromTo so that it seems that each element is fading in and out
        gsap.fromTo("#body2", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body2",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
        gsap.fromTo("#body3", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body3",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
        gsap.fromTo("#body4", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body4",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
        gsap.fromTo("#body5", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body5",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
        gsap.fromTo("#body6", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body6",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
    }, { once: false})
</script>

<Layout title="Tax Rebate">
<div class="flex flex-col items-center justify-center pb-10">
    <img src={infographic.src} alt="Tax Rebate Infographic" class="w-full" />
</div>

<a href="/incentives" class="fixed left-[45vw] bottom-4 z-50 flex items-center justify-center w-auto h-10 text-lg p-2 font-bold text-white bg-green-500 rounded-full shadow-lg cursor-pointer hover:bg-green-700 hover:text-white">
    Go back
</a>
</Layout>

<style>
    /* backbground */
    body {
        background-color: #f8f4d9;
    }
</style>