---
import Layout from "../layouts/Layout.astro";
---

<script>
    import { gsap } from "gsap";
    import { Flip } from "gsap/Flip";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { Observer } from "gsap/Observer";
    import { ScrollToPlugin } from "gsap/ScrollToPlugin";
    import { Draggable } from "gsap/Draggable";
    import { MotionPathPlugin } from "gsap/MotionPathPlugin";
    import { EaselPlugin } from "gsap/EaselPlugin";
    import { PixiPlugin } from "gsap/PixiPlugin";
    import { TextPlugin } from "gsap/TextPlugin";

    gsap.registerPlugin(Flip,ScrollTrigger,Observer,ScrollToPlugin,Draggable,MotionPathPlugin,EaselPlugin,PixiPlugin,TextPlugin);

    document.addEventListener('astro:page-load', () => {
        // use fromTo so that it seems that each element is fading in and out
        gsap.fromTo("#body2", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body2",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
        gsap.fromTo("#body3", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body3",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
        gsap.fromTo("#body4", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body4",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
        gsap.fromTo("#body5", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body5",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
        gsap.fromTo("#body6", {opacity: 0}, {opacity: 1, duration: 1, scrollTrigger: {
            trigger: "#body6",
            start: "top center",
            end: "bottom center",
            scrub: true,
            toggleActions: "play none none reverse"
        }})
    }, { once: false})
</script>

<Layout title="Tax Rebate">
    <div id="divider" class="h-2 w-[90vw] sm:h-[80vh] sm:m-10 rounded-full sm:w-3 bg-green-700 fixed top-10 sm:left-[40vw] sm:block hidden">
    </div>
    <!-- a timeline like thing that is sticky on the center of the screen -->
        <div id="body1" class="text-3xl w-[50vw] h-auto">
            <div class="h-[100vh] w-[100vw] flex flex-col sm:flex-row">
                <div class='w-[95vw] sm:w-[45vw] flex items-start pt-[30vh] pl-3 sm:pl-12'>Understanding Tax Rebates for Green Energy</div>
                <div class=" w-[95vw] sm:w-[45vw] p-3 sm:p-0 text-lg flex items-start pt-5 sm:pt-[20vh] sm:ml-16">
                    Welcome to GreenBeen's simplified guide to understanding tax rebates for green and clean energy solutions. Taxes can be a bit confusing, but we're here to make it easy for you. Let's break down what tax rebates are and how they can save you money while helping the environment.
                </div>
            </div>
        </div>
        <div id="body2" class="text-3xl w-[50vw] h-auto">
            <div class="h-[100vh] w-[100vw] flex flex-col sm:flex-row">
                <div class='w-[95vw] sm:w-[50vw] flex items-start pt-[30vh] sm:pl-12 pl-3'>What Are Tax Rebates?</div>
                <div class=" w-[95vw] sm:w-[45vw] p-3 sm:p-0 text-lg flex items-start pt-5 sm:pt-[20vh]">
                    Tax rebates are like special rewards from the government for doing good things for the environment. When you make eco-friendly choices, like installing solar panels or using energy-efficient appliances, the government gives you some of your money back as a thank-you.
                </div>
            </div>
        </div>
        <div id="body3" class="text-3xl w-[50vw] h-auto">
            <div class="h-[100vh] w-[100vw] flex flex-col sm:flex-row">
                <div class='w-[95vw] sm:w-[45vw] flex items-start pt-[30vh] pl-3 sm:pl-10'>Why Are Tax Rebates Important?</div>
                <div class=" w-[95vw] sm:w-[45vw] p-3 sm:p-0 text-lg flex items-start pt-5 sm:pt-[20vh] sm:ml-16">
                    Tax rebates are important because they encourage people to make green choices. They make it more affordable to invest in eco-friendly technologies and practices. Plus, when more people use clean energy, it helps the planet by reducing pollution and saving energy.
                </div>
            </div>
        </div>
        <div id="body4" class="text-3xl w-[50vw] h-auto">
            <div class="h-auto sm:h-[100vh] w-[100vw] flex flex-col sm:flex-row">
                <div class='w-[95vw] sm:w-[50vw] flex items-start pt-[30vh] pl-3 sm:pl-12'>Types of Tax Rebates</div>
                <div class=" w-[95vw] sm:w-[45vw] p-3 sm:p-0 text-lg flex items-start pt-5 sm:pt-[20vh] whitespace-pre-line">
                    There are different types of tax rebates, and they can vary depending on where you live. Here are a few common ones:

                    Solar Energy Rebates: If you install solar panels on your home, you might get a tax rebate. This can help lower the cost of going solar and save you money on your taxes.

                    Energy-Efficient Appliance Rebates: When you buy energy-efficient appliances like LED light bulbs or an efficient refrigerator, you may be eligible for a rebate.

                    Home Insulation and Weatherization Rebates: Upgrading your home's insulation and making it more weatherproof can also qualify you for rebates.
                </div>
            </div>
        </div>
        <div id="body5" class="text-3xl w-[50vw] h-auto">
            <div class="h-auto sm:h-[100vh] w-[100vw] flex flex-col sm:flex-row">
                <div class='w-[95vw] sm:w-[50vw] flex items-start pt-[30vh] pl-3 sm:pl-12'>How to Get Tax Rebates</div>
                <div class=" w-[95vw] sm:w-[45vw] p-3 sm:p-0 text-lg flex items-start pt-5 sm:pt-[20vh] whitespace-pre-line">
                    Getting tax rebates is usually quite simple. Here are the basic steps:

                    Do Your Research: Find out what green upgrades or changes qualify for tax rebates in your area. Check with your local government or utility companies for information.

                    Keep Receipts: Save all your receipts for the green upgrades you make. You'll need them when you file your taxes.

                    File Your Taxes: When tax season rolls around, tell your tax preparer or use tax software about the green changes you made. They'll help you claim your rebates.

                    Enjoy the Savings: Once you've filed your taxes, you'll either get a bigger tax refund or pay less in taxes. It's like getting a bonus for being environmentally responsible!
                </div>
            </div>
        </div>
        <div id="body6" class="text-3xl h-auto mt-16">
            <div class="h-[100vh] w-[100vw] flex flex-col sm:flex-row">
                <div class='w-[95vw] sm:w-[50vw] flex items-start pt-[30vh] pl-3 sm:pl-12'>Let's Recap</div>
                <div class=" w-[95vw] sm:w-[45vw] p-3 sm:p-0 text-lg flex items-start pt-5 sm:pt-[30vh]">
                    Tax rebates are a win-win. They help you save money, and they encourage everyone to make eco-friendly choices. So, if you're thinking about going green at home, remember to check if there are any tax rebates available in your area. It's an easy way to save money while helping the planet.
                </div>
            </div>
        </div>
        <a href="/#body3" class="fixed left-1/2 bottom-4 z-50 flex items-center justify-center w-auto h-10 text-lg p-2 font-bold text-white bg-green-500 rounded-full shadow-lg cursor-pointer hover:bg-green-700 hover:text-white">
            Go back
        </a>
</Layout>