---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---
<script>
	import Lenis from '@studio-freight/lenis'

	const lenis = new Lenis()

	lenis.on('scroll', (e:any) => {
	console.log(e)
	})

	function raf(time:any) {
	lenis.raf(time)
	requestAnimationFrame(raf)
	}

	requestAnimationFrame(raf)

	import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

	// integrate with GSAP using scroller proxy
	gsap.registerPlugin(ScrollTrigger)

	ScrollTrigger.scrollerProxy('body', {
	scrollTop(value:any) {
	return arguments.length
	? lenis.scrollTo(value)
	: lenis.scroll()
	},
	getBoundingClientRect() {
	return {top: 0, left: 0, width: window.innerWidth, height: window.innerHeight}
	}
	})

</script>
<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav transition:persist class="w-[100vw] h-16 backdrop-blur-xl text-center items-center text-lg pt-3 sticky top-0 z-50">
			<a class="ml-10" href="/">Home</a>
			<a class="ml-10" href="/documentation">Documentation</a>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		background-color: #FFF7D9;
		color: #000;
		overflow-x: hidden;
		background-image: radial-gradient(#f4a629 0.5px, #FFF7D9 0.5px);
		background-size: 10px 10px;
	}
	html {
		font-family: system-ui, sans-serif;
		font-size: 18px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	html.lenis {
	height: auto;
	}

	.lenis.lenis-smooth {
	scroll-behavior: auto;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
	overflow: hidden;
	}

	.lenis.lenis-scrolling iframe {
	pointer-events: none;
	}
</style>
